[Unit]
Description=yah
After=network.target
Requires=network.target

[Service]
ExecStart=/home/pi/yah/bin/yah start
ExecReload=/home/pi/yah/bin/yah reload
Restart=always
RestartSec=5s
KillMode=mixed

[Install]
WantedBy=graphical.target
