[Unit]
Description=yah
After=network.target
Requires=network.target

[Service]
StandardOutput=/data/yah/standard.output
ExecStart=/usr/bin/yah start /etc/yah.conf
ExecReload=/usr/bin/yah reload
Restart=always
RestartSec=5s
KillMode=mixed

[Install]
WantedBy=graphical.target
