[Unit]
Description=yah
After=network.target
# Requires=network.target

[Service]
ExecStart=/usr/bin/yah start
ExecReload=/usr/bin/yah reload
Restart=always
RestartSec=5s
KillMode=mixed

[Install]
WantedBy=graphical.target
